@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll Bar */

body {
    --sb-track-color: #232e33;
    --sb-thumb-color: #232e33;
    --sb-size: 9px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 24px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 24px;
    border: 2px solid #00ff16;
}

.text-shadow {
    text-shadow: 0 0 20px #eab308;
}

/* .menu-line {
    @apply w-8 h-[2px] my-2 block bg-white;
}

.burger-active > span:nth-child(1) {
    @apply origin-top-left rotate-45;
}

.burger-active > span:nth-child(2) {
    @apply scale-0;
}

.burger-active > span:nth-child(3) {
    @apply origin-top-left -rotate-45;
} */

.link-hover {
    @apply hover:bg-teal-500 px-2 rounded-md hover:ring-2 ring-black;
}

.ring-focus {
    @apply focus:outline-none focus:border focus:border-secondary focus:ring-1 focus:ring-secondary;
}

.d-none {
    @apply hidden;
}

.navbar-fixed {
    @apply fixed z-[999] bg-white bg-opacity-60 backdrop-blur-sm;
    box-shadow: inset 0 -2px 0px 0px rgba(0, 0, 0, 0.1);
}

/* Hamburger Menu */
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    user-select: none;
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #fff;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham6 .top {
    stroke-dasharray: 40 172;
}
.ham6 .middle {
    stroke-dasharray: 40 111;
}
.ham6 .bottom {
    stroke-dasharray: 40 172;
}
.ham6.active .top {
    stroke-dashoffset: -132px;
}
.ham6.active .middle {
    stroke-dashoffset: -71px;
}
.ham6.active .bottom {
    stroke-dashoffset: -132px;
}

/* Button */
.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    background: #14b8a6;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-85:hover:before {
    content: "";
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #14b8a6;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.loading {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    background: #14b8a6;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.loading:before {
    content: "";
    background: linear-gradient(45deg, #fffb00, #48ff00, #ff0000, #ff7300, #7a00ff, #ff00c8, #00ffd5, #002bff, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.loading:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #14b8a6;
    left: 0;
    top: 0;
    border-radius: 10px;
}
